* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --background: rgb(234, 234, 234);
  --background-secondary: rgb(208, 208, 208);
  --text-primary: rgb(21, 21, 21);
  --text-secondary: rgb(26, 191, 26);
  --button: rgb(210, 104, 210);
}

[data-theme="dark"] {
  --background: rgb(21, 21, 21);
  --background-secondary: rgb(56, 56, 56);
  --text-primary: rgb(234, 234, 234);
  --text-secondary: rgb(15, 144, 15);
  --button: rgb(134, 16, 134);
}